---
- hosts: appubuntu
  vars_files:
    vars/app_ubuntu.yml
  tasks:
  - name: install pip
    apt:
      name: 
        - python3-pip
        - python3-setuptools
      state: present
      update_cache: yes
  - name: Install the Python MySQLB module
    pip: name=mariadb
